@color: #EA5149;
.commonBtn {
  width: 100%;
  text-align: center;
  background-color: @color;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  border-radius: 4px;
}

.commonBtn:active {
  background-color: #FA5149;
}

.ellipse1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipse2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
